src/main/mule/global/retrieve-consolidated-routes-and-schedules-xpapi.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd 
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
    <flow name="retrieve-consolidated-routes-and-schedules-xpapi-main">
        <http:listener config-ref="retrieve-consolidated-routes-and-schedules-xpapi-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="retrieve-consolidated-routes-and-schedules-xpapi-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="retrieve-consolidated-routes-and-schedules-xpapi-console">
        <http:listener config-ref="retrieve-consolidated-routes-and-schedules-xpapi-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="retrieve-consolidated-routes-and-schedules-xpapi-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <sub-flow name="retrieve-consolidated-routes-and-schedules-xpapiSub_Flow" doc:id="85c0e1cc-3949-45a8-8e70-1a819bf74794" >
		<ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" doc:name="Transform Message for requested variables">
            <ee:variables>
                <ee:set-variable variableName="transportType"><![CDATA[attributes.uriParams.'transportType']]></ee:set-variable>
				<ee:set-variable variableName="transportCompany"><![CDATA[attributes.queryParams.'CompanyName']]></ee:set-variable>
				<ee:set-variable variableName="transactionId "><![CDATA[attributes.headers.'transactionId']]></ee:set-variable>
				<ee:set-variable variableName="departureLocation"><![CDATA[attributes.queryParams.'departureLocation']]></ee:set-variable>
				<ee:set-variable variableName="destinationLocation"><![CDATA[attributes.queryParams.'destinationLocation']]></ee:set-variable>
            </ee:variables>
        </ee:transform>
	</sub-flow>
	<flow name="get:\booking\(transportType)\routes:retrieve-consolidated-routes-and-schedules-xpapi-config">
        <flow-ref doc:name="Flow Reference for required variables" doc:id="500a4b62-b823-4103-9ee8-1a4f1420a779" name="retrieve-consolidated-routes-and-schedules-xpapiSub_Flow"/>
		<logger level="INFO" doc:name="Logger" doc:id="8f464c49-e6d0-4ad7-8035-1bf866914863" message="request received for routes processAPI For transactionId #[vars.transactionId]"/>
		<flow-ref doc:name="Flow Reference" doc:id="f88ecaed-0838-4ef6-844d-c338ce9d4a7d" name="getRoutes-implementationSub_Flow"/>
		<logger level="INFO" doc:name="Logger" doc:id="95e39134-de95-4c0b-9df5-f563c23ff704" message="response sent for routes processAPI For transactionId #[vars.transactionId]"/>
    </flow>
    <flow name="get:\booking\(transportType)\schedules:retrieve-consolidated-routes-and-schedules-xpapi-config">
		<flow-ref doc:name="Flow Reference for required variables" doc:id="076ab9f4-ad39-4142-8fb8-a88453c6f318" name="retrieve-consolidated-routes-and-schedules-xpapiSub_Flow"/>
		<logger level="INFO" doc:name="Logger" doc:id="53c05fc7-1ba7-4c91-bc1b-e34c4b4a95ff" message="request received for schedules processAPI For transactionId #[vars.transactionId]"/>
		<flow-ref doc:name="Flow Reference" doc:id="35e74a87-5b14-44c9-a3da-3b61a1c31e64" name="getSchedules-implementationSub_Flow"/>
		<logger level="INFO" doc:name="Logger" doc:id="b71c0661-b3b0-42e6-9519-20084cc82b2a" message="response sent for schedules processAPI For transactionId #[vars.transactionId]"/>
    </flow>
</mule>
